@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');body {
  margin: 0;
  font-family: 'Outfit';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}
